@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Neucha&display=swap');
.app{
  
  background: linear-gradient(to bottom, #0084ff, #5063c2);
  width:100vw;
  height:100vh;
  font-family: "Exo 2";
}

.logo-title{
  display: flex;
  box-shadow: inset 0px 0px 20px solid black;
  position: relative;
}

.heading{
  border: 5px solid white;
  padding: 5px 5px;
  color:white
}

.navbar{
  display: flex;
  position:absolute;
  justify-content: space-evenly;
  align-content: center;
  margin-left: 75px;
}